@model IEnumerable<PPEsOrderingSystem.Models.ClassProducts>

@{
    ViewData["Title"] = "Index";
}

<center> List of Products</center>

<p>
    <a class="btn btn-info" asp-action="Create">
        Add new Products
    </a>
</p>
<table id="records" class="table table-striped table-hover table-bordered table-sm"
       style="background-color:whitesmoke">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateAdded)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateModified)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateAdded)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateModified)
                </td>

                <td>
                    <a class="btn btn-sm btn-info" asp-action="Edit" asp-route-id="@item.ProductID">
                        <i class="fa fa-edit"></i>
                    </a>

                    <a class="btn btn-sm btn-danger" asp-action="Delete" asp-route-id="@item.ProductID"
                       onclick='return confirm("Are you Sure?");'>
                        <i class="fa fa-remove"></i>
                    </a>

                    <a class="btn btn-sm btn-info" asp-controller="Cart" asp-action="Buy" asp-route-id="@item.ProductID">
                        <i class="fa fa-info"></i>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts{
    <script src="~/lib/datatables/js/jquery.dataTables.js"></script>
    <script src="~/lib/datatables/js/dataTables.bootstrap4.js"></script>
    <script>
        $(document).ready(function () {
            $('#records').DataTable();
        });
    </script>
}
